.posts {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  .createPost {
    border: lightgrey solid 2px;
    border-radius: 20px;
    color: gray;
    margin-bottom: 1rem;
    padding: 2rem 4rem;
    width: 60%;
  }
  .displayPosts {
    display: flex;
    flex-direction: column-reverse;
    .post {
      border: lightgrey solid 2px;
      border-radius: 20px;
      margin-bottom: 1rem;
      padding: 1rem 4rem;
      width: 60%;
      .prof {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 1rem;
        &:first-child {
          align-items: center;
          img {
            height: 125px;
            width: auto;
            border-radius: 50%;
            margin-right: 1rem;
          }
        }
        &:last-child {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
      }
      .tags {
        display: flex;
        flex-direction: row;
        & > * {
          border: lightgrey solid 2px;
          border-radius: 10px;
          padding: 0.2rem 0.4rem;
          margin-right: 0.2rem;
        }
      }
      img {
        border-radius: 10px;
        position: relative;
        width: 70%;
        max-height: 70%;
      }
    }
  }
}
