.button-hover {
	border: none;
	border-radius: 50px;
	width: 8.45vw;
	height: 5.07vh;
	margin-left: 4%;
	font-size: 0.8vw;
	background-color: #76c9bf;
	color: white;
	transition: 0.2s;
}

.button-hover:hover {
	background-color: #60afa6;
	color: rgb(224, 224, 224);
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: lightgrey solid 2px;
	border-radius: 10px;
	color: gray;
	margin: 2vw;
	padding: 2vw;
	width: 35vw;
	height: 85vh;
}
.text {
	width: 30vw;
	margin-top: 4vh;
	min-height: 20vh;
	border: 1px #dddddd solid;
	border-radius: 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.img-input {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px #dddddd solid;
	border-radius: 20px;
	min-height: 18vh;
	width: 25vw;
	margin-top: 4vh;
}
.tags {
	margin-left: 1vw;
	margin-right: 1vw;
	width: 6vw;
	height: 5vh;
	font-size: 1.1vw;
}

.button-bottoms {
	display: flex;
	flex-direction: row;
	margin: 10vh 2rem 0 0;
	width: 35vw;
	justify-content: flex-end;
	align-items: flex-end;
}
